body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
img {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #9f9393;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.nav {
    margin-top: 10px;
}

.nav a {
    color: #907676;
    padding: 10px 10px;
    text-align: center;
    display: block;
}

.nav a:hover {
    background-color: #f0f0f0;
    color: #333;
}

.user-icon-header {
    position: absolute;
    top: 5px;
    right: 10px;
}

.user-icon-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar-left, .sidebar-right {
    background-color: #ba5a5a;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
}


.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #333;
    margin: 10px 0;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
}

.post-date {
    color: #999;
    font-size: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-icon-post {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}



.like-button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}


@media (max-width: 700px) {

    .content-wrapper {
        flex-direction: column;
    }

    .sidebar-left, .sidebar-right {
        display: none;
    }
    .post-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .post {
        width: 90%;
    }
    
}
/* commit 3 add post styling, could be cooler.  */
.post-form {
    background-color: #65636f;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

#post-content {
    width: 90%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-post-btn {
    background-color: #f30202;
    color: white;
    padding: 41px 82px;
    align-self: center;
}

.create-post-btn:hover {
    background-color: #05ed3f;
}

/* removed this */
/* .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* Login */

.login-form {
    background-color: #beb7e2;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 360px;
    text-align: center;
    align-content: center;
}

.login-form a{
    color: #2672e4;
}

.login-info{
    overflow:unset;
    align-self: center;
    width: 60%;
    height: 20px;
    border: 1px solid #b9d0f3;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.login-btn {
    width: 30%;
    height: 26px;
    border-radius: 4px;
    background-color: #05abed;
    align-content: center;
    align-self: center;
}

.login-btn:hover {
    background-color: #08f3cc;
}

.nav-login {
    margin-top: 10px;
}

.nav-login a {
    color: #080707;
    padding: 10px 10px;
    text-align: center;
    display: block;
}

.nav-login a:hover {
    background-color: #f0f0f0;
    color: #333;
}