body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

img ~ p{
    color: rgb(37, 4, 30);
}

.header {
    background-color: #9f9393;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.nav {
    margin-top: 10px;
}

.nav a {
    color: #3a2e2e;
    padding: 10px 10px;
    text-align: center;
    display: block;
}

.nav a:hover {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 10px;
}

/* user icon and dropdown styling */

.user-icon-header {
    position: absolute;
    top: 5px;
    right: 10px;
}

.user-icon-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-icon-post-drop {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-content {
    display: none; 
    position: absolute;
    right: 0;
    background-color: #999;
    min-width: 150px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.dropdown-content p {
    color: #333;
    padding: 10px;
    display: block;
    text-align: center;
}

.dropdown-content p:hover {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 10px;
}

.dropdown-content a {
    color: #333;
    padding: 10px;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 10px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar-left,
.sidebar-right {
    background-color: #6e8b97;
    padding: 20px;
    width: 20%;
    border-radius: 10px;
}


.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #333;
    margin: 10px 0;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
}

.post-date {
    color: #999;
    font-size: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-icon-post {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.like-button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.like-count {
    background-color: #a3c09c;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.post-comment-container {
    align-self: center;
    background-color: #f7f7f7;
    border: solid;
    margin: 5px 0;
    border-radius: 10px;
    border-width: 1px;
    border-color: #1f13a7;
    color: #270404;
    cursor: pointer;
    padding: 2px 10px;
}

.post-comment {
    background-color: #f7f7f7;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #1f13a7;
    color: #270404;
    cursor: pointer;
    padding: 5px 4px;
}

.comment-author {
    background-color: #f7f7f7;
    color: #270404;
    cursor: pointer;
    padding: 1px 5px;
}

/*adj child*/
.post-text + button{
    background-color: #53d823;
    margin: 5px;
    border-radius: 3px;
    align-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}

/*screen adjust*/
@media (max-width: 700px) {

    .content-wrapper {
        flex-direction: column;
    }

    .sidebar-left,
    .sidebar-right {
        display: none;
    }

    .post-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .post {
        width: 90%;
    }

}

/* commit 3 add post styling, could be cooler.  */

.post-form-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-form {
    background-color: #65636f;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: center;
    align-self: center;
}

/*id selector*/
#post-content {
    overflow: unset;
    width: 90%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;

}

.create-post-btn {
    background-color: #f30202;
    color: white;
    padding: 41px 82px;
    align-self: center;
    border-radius: 4px;
}

.create-post-btn:hover {
    background-color: #05ed3f;
}


/* Login  Page*/

/*class selector*/
.login-form {
    background-color: #beb7e2;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 360px;
    text-align: center;
    align-content: center;
}

/* descendant selector*/
.login-form a {
    color: #2672e4;
}

/* .login-info {
    overflow: unset;
    align-self: center;
    width: 60%;
    height: 20px;
    border: 1px solid #b9d0f3;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
} */


.login-btn {
    width: 30%;
    height: 26px;
    border-radius: 4px;
    background-color: #05abed;
    align-content: center;
    align-self: center;
}

.login-btn:hover {
    background-color: #08f3cc;
}

.nav-login {
    margin-top: 10px;
}

.nav-login a {
    color: #080707;
    padding: 10px 10px;
    text-align: center;
    display: block;
}

/* descendant mouse-over selector*/
.nav-login a:hover {
    background-color: #f0f0f0;
    color: #333;
}

.login-content-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form > input{
    overflow: unset;
    align-self: center;
    width: 60%;
    height: 20px;
    border: 1px solid #b9d0f3;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

/* descendant pseudo element selector */
.login-form p::first-line{
    color: #1f13a7;
}